<div class="container">
    <div class="row mt-2">
        <div class="card-header text-center"><span>Nested Reactive Form:</span></div>
        <div class="card-body">
            <form [formGroup]="myform">
                <div formGroupName="personalinfo">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" formControlName="name" id="name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="mobile">Mobile</label>
                        <input type="text" formControlName="mobile" id="mobile" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="pincode">PinCode</label>
                        <input type="text" formControlName="pincode" id="pincode" class="form-control" />
                    </div>

                    <div formArrayName="addresses">
                        <div *ngFor="let address of addresses.controls;let i = index" [formGroupName]="i">
                            <div class="form-group">
                                <label for="state">State</label>
                                <input type="text" formControlName="state" id="state" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="zip">Zip</label>
                                <input type="text" formControlName="zip" id="zip" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" formControlName="city" id="city" class="form-control" />
                            </div>

                            <button type="button" class="btn btn-success" (click)="removeAddress(i)">Remove Address</button>
                        </div>
                        <button type="button" class="btn btn-success" (click)="addAddress()">Add Address</button>
                    </div>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>