<p><b>Question 1:</b>
    To get the reference of Dom element in component file
</p><input type="text" class="form-control" #myinput1 />
<button type="button" class="btn btn-danger" (click)="question1()">Question1</button>

<p><b>Question 2:</b>
    To get the reference of Dom element in using template in component file
</p><input type="text" class="form-control" #myinput2 />
<button type="button" class="btn btn-danger" (click)="question2(myinput2.value)">Question2</button>


<p><b>Question 3:</b>
    To get the child component data in parent component using view child
</p><app-view-child-child></app-view-child-child>
<button type="button" (click)="fetch()">Fetch</button>