<div class="container">
    <div class="row mt-4 justify-content-center">
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="shared_data_in_sibling">
                <span><strong>Share Data in Sibling Component</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="parent_to_child">
                <span><strong>Send data parent to child</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="child_to_parent">
                <span><strong>Send data child to parent</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="form_array">
                <span><strong>Create Multiple User (Form Array)</strong></span>
            </a>
        </div>


        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="simple_reactive_form">
                <span><strong>Simple Reactive Form</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="highlight_directive">
                <span><strong>Directive</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="array_logic">
                <span><strong>Array Logic</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="template_form">
                <span><strong>Simple Template Form</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="on_destroy">
                <span><strong>On Destroy</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="dashboard">
                <span><strong>Dashboard</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="defer">
                <span><strong>Defer</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="patch_value">
                <span><strong>Patch Value</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="test">
                <span><strong>Test</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="interview">
                <span><strong>Interview</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="view_child">
                <span><strong>View Child</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="ngxs">
                <span><strong>NGXS</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="change_detect">
                <span><strong>Change Detection</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="async_pipe">
                <span><strong>Async Pipe</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="nested_reactive_form">
                <span><strong>Nested Reactive Form</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="view_encapsulation">
                <span><strong>View Encapsulation</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="merge_map">
                <span><strong>Merge Map</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="tap">
                <span><strong>Tap</strong></span>
            </a>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-6 col-12">
            <a routerLink="exhaust_map">
                <span><strong>Exhaust Map</strong></span>
            </a>
        </div>



        <div class="col-12">
            <div class="div1"></div>
            <div class="div2" #div2>This is div2</div>
            <div class="div3"></div>
            <div class="div4"></div>
            @defer(on hover(div2)){
            <div class="div5"></div>
            }@placeholder(){
            There is some content here...
            }
        </div>
    </div>
    <router-outlet></router-outlet>
</div>