<div *ngIf="!isShow">
    <div class="row mt-4 justify-content-center">
        <div class="col-md-3">
            <a routerLink="shared_data_in_sibling">
                <span><strong (click)="isShow = true">Share Data in Sibling Component</strong></span>
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="parent_to_child">
                <span><strong (click)="isShow = true">Send data parent to child</strong></span>
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="child_to_parent">
                <span><strong (click)="isShow = true">Send data child to parent</strong></span>
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="form_array">
                <span><strong (click)="isShow = true">Create Multiple User (Form Array)</strong></span>
            </a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-3">
            <a routerLink="simple_reactive_form">
                <span><strong (click)="isShow = true">simple Reactive Form</strong></span>
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="highlight_directive">
                <span><strong (click)="isShow = true">Directive</strong></span>
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="array_logic">
                <span><strong (click)="isShow = true">Array Logic</strong></span>
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="template_form">
                <span><strong (click)="isShow = true">Simple Template Form</strong></span>
            </a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-3">
            <a routerLink="on_destroy">
                <span><strong (click)="isShow = true">On Destroy</strong></span>
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="dashboard">
                <span><strong (click)="isShow = true">DashBoard</strong></span>
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="defer">
                <span><strong (click)="isShow = true">Defer</strong></span>
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="patch_value">
                <span><strong (click)="isShow = true">Patch Value</strong></span>
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="test">
                <span><strong (click)="isShow = true">Test</strong></span>
            </a>
        </div>
        

    </div>
    <div class="row mt-2">
        <div class="col-md-3">
            <a routerLink="interview">
                <span><strong (click)="isShow = true">Interview</strong></span>
            </a>
        </div>
        <div class="col-md-3">
            <a routerLink="view_child">
                <span><strong (click)="isShow = true">View Child</strong></span>
            </a>
        </div>
    </div>
    <div class="div1"></div>
<div class="div2" #div2>this is div2</div>
<div class="div3"></div>
<div class="div4"></div>
@defer(on hover(div2)){
    <div class="div5"></div>
}@placeholder(){
    <p>There is some content</p>
}

</div>

<router-outlet *ngIf="isShow"></router-outlet>



